body{
    background-color: rgb(37, 37, 37);
    color: rgb(0, 195, 255);
    font-family: 'JetBrains Mono' /*place other fonts here, keep JetBrains as font*/;
    margin: 0px;
    padding: 0px;
    min-width: 570px;
}

#post *{
    cursor: default;
}

body header{
    top: 0px;
    width: 100%;
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(65, 65, 65);
    padding: 0%;
}

#header_h2{
    padding: 8px;
}

body header a{
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: 0px rgb(0, 0, 0) solid;
    color: rgb(37, 37, 37);
    background-color: rgb(0, 195, 255);
    border-radius: 20px;
    text-decoration: none;
    font-size: large;
}

body header a:hover{
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    border: 0px rgb(0, 0, 0) solid;
    color: rgb(37, 37, 37);
    background-color: rgb(0, 119, 255);
    border-radius: 20px;
}

#header_h1_home{
    font-size: xx-large;
    position: relative;
    background-color: rgb(37, 37, 37);
    color: rgb(0, 195, 255);
    font-family: 'JetBrains Mono', Tahoma, Geneva, Verdana, sans-serif /*place other fonts here, keep JetBrains as font*/;
    margin: 0%;
    padding: 0px;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

#header_h1_subhome{
    font-size: large;
    position: relative;
    background-color: rgb(37, 37, 37);
    color: rgb(0, 195, 255);
    font-family: 'JetBrains Mono' /*place other fonts here, keep JetBrains as font*/;
    margin: 0%;
    padding: 0px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(65, 65, 65);
}

.postboard{
    background-color: rgb(0, 195, 255);
    color: black;
    margin: 20px;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

}
#post{
    background-color: rgb(0, 195, 255);
    color: black;
    padding: 10px;
    border-top: black 5px solid;
}

#post_meta{
    padding-bottom: 20px;
}

#post_meta h2{
    padding: 0%;
    margin: 0%;
}

#post_meta h4{
    padding: 0%;
    margin: 0%;
}

#content{
    font-weight: 400;
}